@font-face {
    font-family: "Montserat";
    src: url(./fonts/Montserrat-Medium.ttf);

}
@font-face {
font-family: "Montserat Bold";
src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Montserat Black";
    src: url(./fonts/Montserrat-Black.ttf);
}
body {
    font-family: "Montserat", "Aial", "Helvetica", sans-serif;
    background: #0a090908;
    font-size: 13px ;
    line-height: 26px;
    color: #3F4243;
    overflow-y: scroll;
    display: block;
}

ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-left: 0;
    padding-inline-start: 0;
}
a{
    text-decoration: none;
    text-underline: none;
 color: inherit;

}
h4 a,
.left ul li p span a{
    text-decoration: underline;
}

.container {
width: 1200px;
margin: 0 auto;

}
.title_wrapper{
    height: 60px;
}

.info{
    top: 14px;
    float: right;
    width: 50%;
    z-index: 999;
    position: relative;
}
.info .h1{
    font-size: 30px;
    font-family: "Montserat Bold","Arial", sans-serif;
    color: #3f4243c2;
    position: relative;
    top: -14px;
}
.info p{
    font-size: 12px;
    line-height: 11px;
    display: block;color: #5b5b5b!important;
}
.info p span{
    color: #E0527B;
}
.info p span a{
    font-weight: 100;
}
.info div{

}
.info div img{
    cursor: pointer;
    max-width: 34px;
    opacity: 0.5;
}
.info div img:hover{
    opacity: 1;
    transition: .5s;
}
.ribbon{
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    height: 270px;
    left: 0;
    right: 0;
    top: 0;
    margin: 0
;
}

.intro{

    padding: 20px;

}
.profile-img{
    float: left;
    width: 50%;
}
.profile-img img{
    position: relative;
    float: right;
    display: block;
    left: -10px;
}
.profile-img a span{
    cursor: pointer;
    color: #3102D8;
}
.profile-img p:nth-child(3){
   font-size: 16px;
}
.tabs {
    justify-content: center;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.tabs li img{
    max-width: 100px;
}

.dot{
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50px;
    background-color:  #505050 ;
    display: inline-block;
    position: relative;
    top: -2px;
}
p{
    display: inline;
}
.tabs,
.sections{
    position: relative;
    top: 30px;
}
.tabs li {
    text-align: center;
    padding: 26px;
    margin: 5px;
    width: 130px;
    cursor: pointer;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
.tabs li:first-child{
    margin-left: 0!important;
}
tabs li:last-child{
    margin-right: 0!important;
}

#hobbies div a{
    color: #E0527B ;

}
#experience div div ul li{
margin: 10px auto;
}
.tabs li h5 {
    color: black;
    font-size: 11px;
    font-weight: 300;

    margin: 7px;

}
ul li{
    line-height: 22px;
    margin: 20px auto;
}
ul li span{
        font-weight: bold;
    font-size: 14px;
}
ul li .grey,
ul li p{
    font-size: 12px!important;
    color: #7a7a7a96!important;
    font-weight: 100;
    display: block;
    margin: 0;
}
ul li p{
    font-size: 12px;
    color: #5b5b5b!important;
}
ul li p a{
    color: #5b5b5b!important;
    font-weight:100 ;
    text-decoration: underline;
}
.tabs li:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
}
.border-gradient{
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(90deg, #FFCC66 10%, #FF002A 35%, #1A00D4 55%, #3FF6FF 95%);
    border-image-slice: 1;
}
.hobby_icons li img,
.hobby_icons li p{
    max-width: 120px;
    margin: 0 auto;
    text-align: center;
}
.hobby_icons li p{
    margin: 10px auto;
    font-weight: bold;
}
.hobby_icons li
{
    display: flex;
    flex-direction: column;
    width: 200px;

}
.hobby_icons{
display: flex;
    flex-wrap: wrap;
}
.tabs li:hover h5 {
    font-weight: 900;
}
.tabs li:active h5 {
    font-weight: 900;

}

.tabs li div {
    width: 90px;
    display: block;
    position: relative;
    margin: 0 auto;
    top: 8px;
}
.left h4{

    font-weight: bold;
    font-size: 13px
;
}

.tabs li div img {
    max-width: 100%;
}
.wrapper{

}
.sections section {
    display: none;
    padding: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 20px 30px;
    position: relative;
}
p span{
    color: #1A00D4;
}
#coding div p,
#softwers div p{
    display: inline!important;
}
#coding div span,
#softwers div span {
    color: #FF002A;
}
#portfolio div ul li a,
p a{
    font-weight: bold;
    color: #E0527B;
}
#employment div ul li a{
    color: black;
}
.contact p{
    font-size: 12px;
    line-height: 21px;
    opacity: 0.7;
}
.left{
width: 50%;
}
.wide{
    width: 100%!important;
}

.left div{
    width: 200px;
    margin: 0 20px;
     float: left;
     height: 100%;


}
.left p span{
    font-size: 15px;
}
.left p{
    width: 500px;
}
.left p:first-child{
    color: #8E8E8E;
}

.right {
    position: absolute;
    right: -20%;
    top: 50%;
    float: right;
    width: 50%;
    transform: translate(-50%, -50%);
}

.right img {
    float: right;
    margin: 0 auto;
    display: block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.effect2 {
    position: relative;
}

.effect2:before, .effect2:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.effect2:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

@media only screen and (max-width: 1200px) {
    .container{
    width: 100%;
    }
}
@media only screen and (max-width: 800px) {

}
@media only screen and (max-width: 600px) {
    .left,
    .left p,
    .profile-img,
    .info
    {
        width: 100%;

    }
    .profile-img img{
        float: none;
        margin: 0 auto;
        left: 0;
    }
.info{
    text-align: center;
}
.ribbon{
    height: 285px;
    width: 100%;
}

}

@media only screen and (max-width: 400px) {
    .info .h1{
        line-height: 33px;
        width: 100px;
        margin: 0 auto;
    }
}